section{
    padding: 10px;
    margin-bottom: 20px;
}

section h1{
    text-align: center;
}

#contact form > fieldset >div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}